*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: linear 0.3s;
}
body{
    overflow-x: hidden;
}
.home-page{
    padding: 15px 8vw;
    background: linear-gradient(to top, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0.272) 40%), url(/Images/homeimg.jpg);
    background-repeat: no-repeat;background-size: cover;
    width: 100vw;height: 650px;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.search_open{
    display: block;
}
#search_icon{
    height: 38px;
    background-color: white;
}

.home-page_content{
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 150px;
    width: 500px;
}
.home-page_content h2{
    font-size: 60px;
    letter-spacing: 0.5px;
}
.home-page_content button{
    border: none;
    font-size: 16px;
    color: white;
    width: 130px;
    padding: 10px 15px;
    border-radius: 3px;
    text-align: center;
    letter-spacing: 0.5px;
    margin-top: 40px;
}
.home-page_content #play{
    background-color: rgb(225, 19, 19);
}
.home-page_content #info{
    background-color: rgb(78, 78, 78);
    margin-left: 10px;
}
.home-page_content p{
    margin-top: 20px;
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 25px;
}


.your_collection{
    display: flex;flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
#netflix-orig{
    color: aliceblue;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    margin-top: 100px;
}
#view_favorite{
    width: 200px;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 3px;
    background-color:rgb(210, 9, 9);
    padding: 10px;
    letter-spacing: 0.5px;
    margin-left: 10px;
    margin-top: 100px;
}






@media screen and (max-width:550px){

.home-page{
    padding: 15px 3vw;
    background: linear-gradient(to top, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0.621) 40%), url(homeimg.jpg);
    background-repeat: no-repeat;background-size: cover;background-position: right;
    width: 100vw;height: 650px;
}

.home-page_content{
    margin-top: 120px;
    width: auto;
    padding: 0 10px;
}
.home-page_content h2{
    font-size: 40px;
    letter-spacing: 0.5px;
}
.home-page_content button{
    width: 120px;
    padding: 10px 10px;
}
#netflix-orig{
    font-size: 23px;
    letter-spacing: 1px;
    margin-top: 70px;
}
#view_favorite{
    width: 130px;
    margin-top: 70px;
}

}









.page-two{
    background-color: black;
    padding: 10px 8vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    grid-row-gap: 25px;
    grid-column-gap: 60px;
    padding-bottom: 50px;
    justify-content: space-between;
}

#show{
    height: 300px;
    border-radius: 8px;
    background-color: rgba(39, 38, 38, 0.918);
    padding: 10px;
    text-align: center;
}
#show #show_img{
    width: 100%;
    height: 80%;
    border-radius: 5px;
}
#show #watch{
    width: 60%;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 3px;
    background-color:rgb(57, 57, 57);
    padding: 10px;
    margin-top: 10px;
    letter-spacing: 0.5px;
}
#show #watch:hover{
    transform: scale(1.05,1.05);
    background-color: rgb(62, 62, 62);
    cursor: pointer;
}
#show #favourite{
    width: 30%;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 3px;
    background-color:rgb(210, 9, 9);
    padding: 10px;
    margin-top: 10px;
    letter-spacing: 0.5px;
    margin-left: 10px;
}
#show #favourite:hover{
    transform: scale(1.05,1.05);
    background-color: rgb(203, 12, 12);
    cursor: pointer;
}



@media screen and (max-width:950px){
    .page-two{
        grid-row-gap: 25px;
        grid-column-gap: 10px;
        padding: 10px 3vw;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:550px){
    .page-two{
        grid-row-gap: 20px;
        grid-column-gap: 10px;
        padding: 10px 3vw;
    }
}
@media screen and (max-width:450px){
    header input{
        display: none;
    }
.page-two{
    padding: 10px 3vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    justify-content: space-around;
}
#show{
    height: 320px;
    border-radius: 8px;
    background-color: rgba(39, 38, 38, 0.918);
    padding: 10px;
    text-align: center;
}
#show #show_img{
    width: 100%;
    height: 65%;
    border-radius: 5px;
}
#show #watch{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    letter-spacing: 0.5px;
}
#show #favourite{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    letter-spacing: 0.5px;
    margin-left: 0;
}

}

















/* *******************  FOOOTER    *************************** */



.footer{
    display: flex;
    flex-direction: row;
    padding: 5vw 10vw;
    justify-content: space-evenly;
    background-color: black;
}
 .footer .item{
    color: rgb(189, 189, 189);
    line-height: 35px;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width:550px){
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer .item{
        border-top: 1px solid rgb(62, 62, 62);
        margin-top: 10px;
    }
}











/************************    Favourite Shows Container     *****************************************/

#fav_container{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    padding: 40px 5vw;
    display: none;
}
#fav_container h1{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    font-size: 35px;
    color: white;
}
#fav_container #close{
    font-size: 30px;
    padding: 10px 15px;
    background-color: red;
    border-radius: 5px;
    color: white;
}
#fav_container #close:hover{
    cursor: pointer;
}
#fav_container .shows-container{
    width: 100%;
    height: 90%;
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
    border-radius: 5px;
    padding: 20px;
}
#fav_item{
    display: flex;
    align-items: center;
    flex-direction: row;
}


@media screen and (max-width:650px){
    #fav_container h1{
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.5px;
        font-size: 25px;
        color: white;
    }
    #fav_container #close{
        font-size: 25px;
        padding: 5px 10px;
        background-color: red;
        border-radius: 5px;
        color: white;
    }
}






